
main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #F6F6F6;
        padding: 56px 50px;
        gap: 40px;
        border-radius: 25px;
        margin-top: 43px;

}
