*{
        box-sizing: border-box;
}
body{
        background-color: white;
        color: #FF6060;
        max-width: 1440px;
}
#root{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 100vh;
}
.app {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1240px;
        padding: 20px;
        flex-grow: 1;

}



@media (max-width: 800px) {
        header .nav {
                display: flex;
                justify-content: flex-end;
                align-items: center;
        }
        .nav a {
                text-transform: uppercase;
                margin-left: 20px;
        }
        header img {
                max-width: 150px;
        }

        .banner, 
        .banner .super {
                height: 111px;
                width: 340px;
        }
        .banner .super img {
                height: 111px;
        }
        .banner p {
                font-size: 24px;
        }
        main {
                background-color: white;
                padding: 0;
        }
}