*{
        box-sizing: border-box;
}
body{
        background-color: white;
        color: #FF6060;
        max-width: 1440px;
}
#root{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 100vh;
}
.app {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1240px;
        padding: 20px;
        flex-grow: 1;

}
.header {
        width: 100%;
        max-width: 1240px;

        display: flex;
        justify-content: space-between;
        
}

.nav a {
        text-decoration: none;
        color: #FF6060;
        margin-left: 57px;
}

.banner {
        max-width: 1240px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 63px;
        height: 223px;
        width: 100%;
}
.banner .super {
        background-color: rgba(0, 0, 0, .3);
        width: 100%;
        max-width: 1240px;
        height: 223px;
        border-radius: 15px;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
}
.banner .super img {
        width: 100%;
        max-width: 1240px;
        border-radius: 15px;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 223px;
        filter: brightness(0.65);
}
.giant {
        color: #FF6060;
        font-size: 100px;
        font-weight: 700;
}
.banner p {
        color: white;
        font-size: 48px;
        position:absolute;
}

main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #F6F6F6;
        padding: 56px 50px;
        gap: 40px;
        border-radius: 25px;
        margin-top: 43px;

}
main .card {
        width: 340px;
        height: 340px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
}
.card .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 340px;
        z-index: 0;
}
.card .image img {
        width: 100%;
        object-fit: cover;
        height: 100%;
}

.card .shadow {
        box-shadow: rgba(0,0,0,0.5) 0px -100px 36px -28px inset;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 340px;

}

.card .text {
        position: absolute;
        z-index: 10;
        bottom: 1px;
}

@media (max-width: 800px) {
        header .nav {
                display: flex;
                justify-content: flex-end;
        }
        header img {
                max-width: 150px;
        }
}