.logement {
  padding-bottom: 1rem;
  width: 100%;
  max-width: 1240px;
}
.logement header.info {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  text-align: center;
  margin-top: 1rem;
}
.logement header.info h2 {
  font-size: 1.5rem;
  margin: 0;
}
.logement header.info p {
  font-size: 1rem;
  margin: 0 0 1rem 0;
  color: #ff6060;
}
.logement header.info .info-logement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logement header.info .info-logement .pill {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
  color: white;
  background-color: #ff6060;
  min-width: 115xp;
  height: 25px;
  border-radius: 10px;
  margin-right: 8px;
}

.logement header.info .info-host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.info-host .profile{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.info-host .profile img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.info-host .profile .name {
  text-align: right;
}

.rating i {
  margin-left: 5px;
  color: #E3E3E3;
}
i.star {
  color: #ff6060;
}
.logement .details {
  display: flex;
  align-items: flex-start;
}

@media (max-width: 800px) {
  .logement header.info {
    flex-direction: column;
  }
  .logement header.info .info-logement h2{
    text-align: left;
  }
  .logement header.info .info-host {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;
    margin-top: 15px;
}
.logement .details {
  flex-direction: column;
  align-items: flex-start;
}
}